// Theme's Palette
@import("/opt/workspace/mediumish-vuepress-blog-theme/styles/palette.styl")

// User's Palette
@import("/opt/workspace/mediumish-vuepress-blog-theme/docs/.vuepress/styles/palette.styl")